.domaine {
    section.articles {
        padding-top: 4vw;
        padding-bottom: 4vw;

        .row-mise-en-avant {
            background-color: $cdma-color3; //#ddd;

            a:hover {
                background-color: $cdma-color3; //#f9f9f9;
            }
        }
    }
    
    .presentation {
        .intro {
            h1 {
                font-family: $title-bold-fonts;
            }
            p {
                font-family: $title-fonts;
                font-size: 14px;
                line-height: 21px;
                
            }
            
            a.note {
                color: white;
                font-size: 14px;
                font-weight: bold;
                text-decoration: underline;
                background-size: 5px;
            }

	    .center {
	      justify-content: center;

	      #pdf-file {
	        margin-top: 20px;
	      }
            }
        }
    }
    
    .presentation-annexe {
        .note {
            font-family: $title-fonts;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
        }   
    }
}
