.formation {
    h1, h2 {
        text-transform: none;
    }
    
    p, pre {
        font-size: 16px;
        font-family: $basic-fonts;

	&:first-letter {
	  text-transform: capitalize;
  	}
    }
    
    .btn {
        width: 100%;
        font-size: 18px;
    }
    
    .formation-detail {
        h1, h2, h3, h4 {
            text-transform: none;
            padding-bottom: 1vw !important;
        }
    
        pre~h2, p~h2 {
            padding-top: 2vw;
            padding-bottom: 1vw;
        }

    	a {
            text-decoration: underline;
        }

     }
    
    .btn-candidate {
        margin-bottom: 1.5vw;
        text-decoration: none !important;
    }

    .contact-btn {
        text-decoration: none !important;
    }
    
    .introduction {
        color: white;
        background-color: $cdma-color3;
        padding-bottom: 3vw;
        
        h1, h2 {
            color: black;
            font-weight: normal;
        }
        
        h1 {
            font-size: 26px;
            padding-bottom: 1vw;
        }

	pre {
 	  color: black !important;
	}
        
        .breadcrumb {
            padding-left: 0;

            .breadcrumb-item+.breadcrumb-item {
                color: black;
                &:before {
                    color: black;
                }
            }
            .breadcrumb-item a {
                color: black;
            }
        }
    
        .container-labels {
            padding: 0 15px;
            
            .introduction-label {
                color: $cdma-color2;
                font-family: $title-bold-fonts;
                font-size: 15px;

                background-color: transparent;
                background-image: url(../images/icon-accept.png);
                background-position: top left;
                background-repeat: no-repeat;
                background-size: auto 100%;
                text-indent: 6px;
                display: block;
                height: 14px;
                line-height: 17px;
            }
        }
        
        .introduction-success {
            font-size: 20px;
            text-indent: 28px;
            background: transparent url(../images/icon-success.png) top left no-repeat;
            
            height: 26px;
            line-height: 31px;
            margin: 1vw 0;
        }
        
        .introduction-media {
            figure {
                height: 100%;
                min-height: 160px;
                overflow: hidden;
                position: relative;
                
                img {
                    height: 100%;
                }
            }
        }
        
        .link-pdf {
            float: right;
        }
    }
    
    .sessions-tabs {
        margin-top: 30px;
        
        .nav-link {
            font-size: 18px;
            
            &.active {
                font-weight: bold;
                color: $cdma-color2;
            }
        }
    }
    
    .formation-detail {
        h2, h3, h4 {
            font-family: $title-fonts;
            font-weight: bold;
        }
        
        .column {
            h2 {
                color: black;
                font-size: 22px;
            }
            
            p, pre {
                color: $cdma-color2;
            }
        }
        
        .tab-content {
            .container {
                //position: relative;
            }
            .tab-pane {
                //position: absolute;
                //top: 0;
                //left: 15px;
                display: none;
                
                &.active {
                    display: block;
                }
            }
        }
    }
    
    .formation-temoignage {
        color: black;
        background-color: #f5f5f5;
        padding: 40px 0;
        
        h2 {
            color: black;
            
            &:hover {
                cursor: pointer;
            }
        }
        
        .img-circle {
            overflow: hidden;
            width: 160px;
            height: 160px;
            margin: 0 auto;
            
            &:hover {
                cursor: pointer;
            }
            
            img {
                max-height: 100%;
            }
        }
    }
}

@media (max-width: 767px) {
    .formation {
        button {
            margin-bottom: 15px;
        }
        section {
            h2 {
                padding-bottom: 8px;
            }
            
            pre~h2, p~h2 {
                padding-top: 25px;
            }
            
            .content, .column {
                h2 {
                    padding-bottom: 8px;
                }
            }
        }
        
        .introduction {
            padding-bottom: 30px;
            
            .introduction-media {
                margin-bottom: 25px;
            }

            .introduction-success {
                margin: 20px 0;
            }
        }
        
        .formation-detail {
            padding: 20px 0;
            
            .column {
                //padding-left: 30px;
                //padding-right: 0;
            }
            
            .btn-more {
                margin: 20px 0;
            }
        }
        
        .formation-temoignage {
            h2 {
                padding-top: 25px;
                padding-bottom: 10px;
            }   
        }
    }
}

.stage {
    .presentation {
        background-color: $cdma-color2;
    }
}
