.home {
    section {
        padding-top: 0;
        padding-bottom: 0;
        
        .content {
            article {
                padding-bottom: 2vw;
            }
        }
    }
    
    section.articles {
        padding-top: 66px;
        padding-bottom: 40px;
        
        h2 {
            text-transform: uppercase;
            padding-bottom: 35px;
        }
        
        .content {
            .entry {
                a {
                    h3 {
                        padding-bottom: 0;
                    }
                    p {
                        padding-top: 0;
                    }
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    
    .search {
        position: relative;
        padding-bottom: 3vw;
        //min-height: 512px;
        overflow: hidden;

        h1 {
            color: white;
            font-size: 3.3vw;
            line-height: 4vw; 
            text-align: center;
            font-family: $title-fonts;
            font-weight: normal;
            text-transform: none;

            width: 100%;
            padding: 10vw 9vw 2vw 9vw;
        }
        
        .container {
            padding-bottom: 0;
        }
        
        .search-form {
            position: relative;
            margin-bottom: 5vw;
            z-index: 3;

            .search-input-container {
                position: relative;

                input[type=text] {
                    width: 100%;
                    border: 0;
                    padding-right:	45px;
                }

                input[type="submit"].search-submit {
                    position:		absolute;
                    display:		block;
                    height:			30px;
                    width:			30px;
                    top:			0px;
                    bottom:			0px;
                    margin:			auto;
                    right:			25px;
                    background-image:	url(../images/icon-search.png);
                    background-color: 	transparent;
                    background-repeat: 	no-repeat;
                    background-position: 	center center;
                    box-shadow: 		none;
                    border:			none;
                    text-indent: 		-9999px;
                    white-space: 		nowrap; 
                }
            }
            
            label {
                color: white;
                font-size: 13.5px;
                letter-spacing: 0.5px;
                margin-right: 12px;
                
                &:last-child {
                    margin-right: 0;
                }
            }
            
            .btn {
                display: none;
            }
            
            .row-input {
                margin-bottom: 10px;
            }
            
            .row-checkbox {
                div {
                    text-align: center;
                }
            }
        }
        
        .search-links {
            position: relative;
            padding-top: 2vw; 
            z-index: 3;
            
            .search-links-item {
                margin-left: 20px;
                float: right;
                
                a {
                    color: white;
                    font-size: 14px;
                    font-family: $title-fonts;
                    text-align: center;
                    text-decoration: underline;
                    background-color: rgba(0, 0 , 0,.4);

                    display: block;
                    width: 100%;
                    padding: 15px 20px; //8px 15px;
                    margin-bottom: 10px;
                    border-radius: 5px;
                }
                
                &.col-sm-6 {
                    a {
                        padding: 15px;
                    }
                }
            }
        }

        .carousel {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            min-height: 100%;
            width: 100%;
            height: 100%;
            
            .flickity-slider {
                min-height: 100%;
            }
            
            .flickity-prev-next-button {
                display: none;
            }
        }
        
        .embed-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        
        video {
            object-fit: cover;
           // top: 50%;
        //    left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
          //  transform: translateX(-50%) translateY(-50%);
         //   background: url('/.jpg') no-repeat;
            background-size: cover;
            transition: 1s opacity;
        }
    }
    
    .schools {
	&.container {
	  padding-left: 30px;
	  padding-right: 30px;
	}
        .js-flickity {
            .flickity-prev-next-button, .flickity-prev-next-button {
                background-color: transparent;
                background-image: url(../images/icon-arrow-big-left-blue.png);
                background-position: top left;
                background-repeat: no-repeat;

                top: 24px;
                width: 28px;
                height: 53px;
                border-radius: 0;

                svg {
                    display: none;
                }
            }

            .previous {
                left: -5%;
            }

            .next {
                top: 0;
                right: -5%;

                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }

            .flickity-page-dots {
                display: none;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .search-links {
        .search-links-item {
            a {
                font-size: 18px;
            }
        }
    }
    
    .schools {
        .js-flickity {
            .previous {
                left: 0;
            }

            .next {
                right: 0;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .search-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        
        .search-links-item {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            margin-left: 0 !important;
            float: none !important;
            padding: 0 15px;
        }
    }
}

@include media-breakpoint-down(xs) {
    .search-links {
        .search-links-item {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

@media (max-width: 1049px) {
    .home {
        section {
            h2 {
                text-align: center;
            }
        }
        
        .search {
            h1 {
                font-size: 30px;
                line-height: 36px;
                padding: 35px 0px 20px;
            }
        }
        
        .search-links {
            .search-links-item {
            //    padding: 8px 0;
            }
        }
    }
}
