.home {
    section {
        padding: 0;
        
        .content {
            article {
                padding-bottom: 2vw;
            }
        }
    }
    
    .container {
        padding-top: 66px;
        padding-bottom: 40px;
        
        position: relative;
        
        h2 {
            padding-bottom: 35px;
        }
        
        .see-all {
            font-size: 15px;
            line-height: 20px;
            color: $cdma-brown;
            
            position: absolute;
            top: 66px;
            right: 0;
            font-weight: bold;
        }
    }
    
    .search {
        position: relative;

        h1 {
            color: white;
            font-size: 3.3vw;
            line-height: 4vw; 
            text-align: center;
            font-family: Arial;
            font-weight: normal;
            text-transform: none;

            width: 100%;
            padding: 6vw 9vw 2vw 9vw;
        }
        
        .container {
            padding-bottom: 0;
        }
        
        .search-form {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            
            input[type=text] {
                width: 100%;
                border: 0;
            }
            
            label {
                color: white;
                font-size: 13.5px;
                letter-spacing: 0.5px;
                margin-right: 12px;
                
                &:last-child {
                    margin-right: 0;
                }
            }
            
            
            .row-input {
                margin-bottom: 10px;
            }
            
            .row-checkbox {
                div {
                    text-align: center;
                }
            }
        }
        
        .search-links {
            position: absolute;
            bottom: 25px;
            right: 6vw;
            z-index: 3;
            
            a {
                color: white;
                font-size: 14px;
                font-family: $title-fonts;
                text-decoration: underline;
                background-color: rgba(0, 0 , 0,.4);
                
                display: block;
                padding: 8px 15px;
                margin-left: 20px;
                float: right;
            }
        }

        .carousel {
            position: relative;
            z-index: 1;
        }
    }
}

@media (max-width: 1049px) {
    .home {
        .container {
            h2 {
                text-align: center;
            }
        }
    }
}
