.presentation-page {
    position: relative;
    
    .breadcrumb {
        position: absolute;
        top: 0;
        left: 6%;
        z-index: 4;
    }
    
    .image-background {
        height: 100%;
    }
    
    .row-intro {
        min-height: 493px;
    }
    
    .intro {
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        
        padding-top: 10vw;
        
        p {
            font-size: 18px;
            font-family: $basic-fonts;
            line-height: 24px;
            letter-spacing: 0;
        }
    }
}

.page-greta {
    padding: 7vw 0 /* 14vw */;
    
    .breadcrumb {
        padding-left: 0;
        
        .breadcrumb-item+.breadcrumb-item {
            color: white;
            &:before {
                color: white;
            }
        }
        .breadcrumb-item a {
            color: white;
        }
    }
}

@include media-breakpoint-down(sm) {
    .page-greta {
        padding: 7vw;
    }
}

.article {
    section {
        padding-top: 2vw;
        
        .content {
            article {
                font-size: 16px;
                font-family: $basic-fonts;
                line-height: 140%;

                ul {
                    list-style-type: disc;
                    padding-left: 45px;
                    padding-bottom: 1vw;
                }

                h2, h3, h4, h5 {
                    padding-top: 2vw;
                    padding-bottom: 1vw;
                    text-transform: none;
                }

                h2 {
                    font-family: $title-fonts;
                    font-size: 26px;
                    padding-top: 3vw;
                }

                h3 {
                    color: $cdma-light-brown;
                    font-family: $title-fonts;
                    font-size: 24px;
                }

                h4 {
                    color: #373737;
                    font-family: $title-fonts;
                    font-size: 20px;
                }

                a {
                    color: $cdma-blue;
                    text-decoration: underline;

                    &:hover {
                        color: black;
                    }
                }
                
                img {
                  @extend .img-fluid;
                  @extend .img-rounded;
                }

                time {
                    color: $cdma-light-brown;
                    font-family: $title-fonts;
                    font-size: 18px;
                }

                blockquote {
                    padding-left: 25px;
                    margin: 0 0 1vw 30px;
                    border-left: 4px solid $cdma-light-brown;

                    p {
                        font-style: italic;
                        padding: 0;
                    }
                }
            }
        }
    }
}

.single {
    .article {
        section {
            header {
                margin-bottom: 2vw;
                
                h1 {
                    font-family: $title-fonts;
                    font-size: 30px;
                    line-height: 36px;
                    font-weight: normal;
                    text-transform: none;
                }
            }
        }
    }
    
    .navbar-toggle {
        margin-bottom: 25px;
    }
}

.page {
    .article {
        font-size: 16px;
        font-family: $basic-fonts;
        line-height: 140%;

        ul {
            list-style-type: disc;
            padding-left: 45px;
            padding-bottom: 1vw;
        }

        h2, h3, h4, h5 {
            padding-top: 2vw;
            padding-bottom: 1vw;
            text-transform: none;
        }

        h2 {
            font-family: $title-fonts;
            font-size: 26px;
            padding-top: 3vw;
        }

        h3 {
            color: $cdma-light-brown;
            font-family: $title-fonts;
            font-size: 24px;
        }

        h4 {
            color: #373737;
            font-family: $title-fonts;
            font-size: 20px;
        }

        a {
            font-family: $title-bold-fonts;
            color: $cdma-blue;
            text-decoration: underline;

            &:hover {
                color: black;
            }
            
            &.btn {
                color: white;
                font-family: $title-fonts;
                text-decoration: none;
            }
        }

        img {
          @extend .img-fluid;
          @extend .img-rounded;
        }

        blockquote {
            padding-left: 25px;
            margin: 0 0 1vw 30px;
            border-left: 4px solid $cdma-light-brown;

            p {
                font-style: italic;
                padding: 0;
            }
        }
        
        table {
            thead {
                th {
                    font-family: $title-fonts;
                    width: 50%;
                    padding: 10px;
                    border-bottom: 2px solid grey;
                }
            }
            
            tbody {
                td {
                    padding: 10px;
                    border-bottom: 1px solid grey;
                }
            }
        }
    }
}