.search {
    
  #more-news.in {
    display:	flex !important;
  }
    
    section.articles {
        padding-left: 0;
        padding-right: 0;
        
        .content {
            .entry {
                a {
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
        
        .see-all {
            top: 4vw;
        }
    }
}

