.stage {
    section {
        padding-top: 2vw;

        .content {
            h1 {
                padding-bottom: 2vw;
            }

            .entry {
                margin-bottom: 20px;
                a {
                    text-decoration: none;
                    background-color: #f4f4f4;
                    border-radius: 10px;
                    display: block;
                    height: 100%;
                    padding: 3vw;
                    
                    &:hover {
                        background-color: #eee;
                        
                        h3 {
                            text-decoration: underline;
                        }
                    }

		    pre {
		      color: $cdma-blue;

		      &.excerpt {
			margin-bottom :		0px;
			padding-bottom :	0px;
	 	      }
		    }
                }
            }
        }
    }
    
    .breadcrumb {
        padding-left: 0;
    }
}
                
