# Folders
wp-content/themes/*
!wp-content/themes/sage
wp-content/upgrade
wp-content/uploads
wp-content/wflogs
wp-content/cache
wp-piwik/tmp
.DS_Store
.well-known


# Files
wp-content/themes/sage/diogenConfig.php
wp-config.php
.htaccess
*.swp
*.swo 
