# Folders
wp-content/themes/*
!wp-content/themes/sage
wp-content/uploads
wp-piwik/tmp
.DS_Store
.well-known


# Files
wp-content/themes/sage/diogenConfig.php
wp-content/wflogs/config.php
wp-config.php
.htaccess
*.swp
