// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$cdma-blue:             #0956a1;
$cdma-brown:            #6a584d;
$cdma-light-brown:      #b3a095;

$cdma-color1:			#fbba00;
$cdma-color2:			#7c7c7b;
$cdma-color3:			#ededed;

// Fonts
$basic-thick-fonts:      'HelveticaNeue', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'HelveticaNeue', 'Helvetica Neue', 'TeXGyreHerosRegular', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
$basic-fonts:            'HelveticaNeueLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'HelveticaNeue', 'Helvetica Neue', 'TeXGyreHerosRegular', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
$basic-light-fonts:      'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$title-fonts:            Marianne, $basic-fonts;
$title-bold-fonts:       MarianneBold, $basic-fonts;

// Sizes
$header-height:         74px;
