// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$cdma-blue:             #0956a1;
$cdma-brown:            #6a584d;
$cdma-light-brown:      #b3a095;

// Fonts
$basic-fonts:            'HelveticaNeueLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'HelveticaNeue', 'Helvetica Neue', 'TeXGyreHerosRegular', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
$basic-light-fonts:      'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$title-fonts:            UniversCondensed, $basic-fonts;
$title-bold-fonts:       UniversCondensedBold, $basic-fonts;

// Sizes
$header-height:         74px;