.icon-play {
    background-image: url(../images/icon-play.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%;
    
    display: block;
    width: 148px;
    height: 148px;
    position: absolute;
    top: calc(50% - 74px);
    left: calc(50% - 74px);
    z-index: 9;
    cursor: pointer;
}

.icon-search {
    background-image: url(../images/icon-search.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: auto 50%;
    padding-right: 15%;
}

.icon-social {
    text-indent: -3000px;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%;

    display: block;
    width: 49px;
    height: 49px;
    
    &.icon-facebook {
        background-image: url(../images/icon-facebook.png);
    }
    
    &.icon-twitter {
        background-image: url(../images/icon-twitter.png);
    }
    
    &.icon-linkedin {
        background-image: url(../images/icon-linkedin.png);
    }
}

.icon-arrow-up {
    background-color: $cdma-color1;
    background-image: url(../images/icon-arrow-up.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    cursor: pointer;
    
    display: block;
    width: 40px;
    height: 40px;
}

.buttons {
    width: 100%;
    padding: 40px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    .btn {
        float: right;
    }
}

.btn {
    color: white;
    font-family: $title-fonts;
    padding: .64rem .7rem;
    border-radius: .15rem;
    background-color: $cdma-color2;
    border: 0;
    box-shadow: 0px 0px 6px #aaa;

    &.btn-link {
      color: $cdma-color2;
      background-color: transparent;
      box-shadow: none;

      &:hover {
        color: $cdma-color2;
        background-color: transparent;
      }
    }
    
    &.btn-action {
        background-color: orange;
    }
    
    &.btn-international {
        background-color: #555;
        background-position: 10px 5px;
        background-repeat: no-repeat;
        background-size: 30px;
        //text-indent: 40px;
        vertical-align: text-top;
        
        &.french {
            //background-image:url(../images/icon-french.png);
        }
        
        &.english {
            //background-image:url(../images/icon-english.png);
        }
        
        &:hover {
            background-color: $cdma-color2;
        }
    }
    
    &:hover {
        color: white;
        background-color: #555;
    }
}

@include media-breakpoint-down(md) {
    .btn {
        &.btn-international {
            width: 100%;
            text-align: center;
            text-indent: 0;
            margin-bottom: 20px;
        }
    }
}

.page-numbers {
  color: white;
  font-family: $title-fonts;
  padding: .64rem .7rem;
  border-radius: .15rem;
  background-color: $cdma-color2;
  border: 0;
  box-shadow: 0px 0px 6px #aaa;
  margin-right: 5px;
  margin-bottom: 5px;

  &:not(.btn-action):hover {
    color: white;
    background-color: #ddd;
  }
  
  &.btn-action {
    background-color: orange;
  }
}

.link-pdf {
    color: #726f6f;
    font-size: 15px;
    text-indent: 20px;
    text-align: center;
    background-color: white;
    background-image: url(../images/icon-pdf.png);
    background-position: 20px;
    background-repeat: no-repeat;
    background-size: auto 78%;
    
    
    display: block;
    height: 35px;
    padding-left: 40px;
    padding-right: 30px;
    
    line-height: 35px;
    border-radius: 6px;
}

.navbar-toggle-more {
    background-image: url(../images/icon-arrow-right-white.gif);
    background-position: 10px;
    background-repeat: no-repeat;
    text-indent: 15px;
}

input[type="submit"].search-submit {
  position:		absolute;
  display:		block;
  height:		30px;
  width:		30px;
  top:			0px;
  bottom:		0px;
  margin:		auto;
  right:		25px;
  background-image:	url(../images/icon-search.png);
  background-color: 	transparent;
  background-repeat: 	no-repeat;
  background-position: 	center center;
  box-shadow: 		none;
  border:		none;
  text-indent: 		-9999px;
  white-space: 		nowrap; 
  z-index:		10;	        

  &.small {
    right: 5px;
    background-size: 20px;
  }
}

@include media-breakpoint-down(xs) {
    input[type="submit"].search-submit {
        &.small {
            right: 5%;
            background-size: 20px;
        }
    }
}
