// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}



.wpcf7-form {
    
    h2 {
        margin-bottom: 3vw;
        
        &.not-first {
            margin-top: 6vw;
        }
    }
    
    .form-group {
        @extend .row;
        
        label {
            @extend .col-md-4;
            font-family: $basic-thick-fonts;
        }
        
        input[type=text],
        input[type=date],
        input[type=url],
        input[type=tel],
        input[type=email],
        textarea {
            @extend .col-md-8;
        }
        
        .checkbox {
            label {
                white-space: nowrap;
                input[type=checkbox] {
                    margin-right: 8px;
                }
            }
        }
    }
}