section {
    .content {
        article.formation {
            font-size: 14px;

            img {
                width: 100%;
            }

            p {        
                span {
                    font-weight: bold;
                }
            }
        }
    }
}