.formation {
    margin-bottom: 20px;
    
    img {
        width: 100%;
    }
    
    p {
        color: #5d5d5d;
        font-size: 14px;
        line-height: 18px;
        
        span {
            color: #0956a1;
            font-family: $basic-fonts;
            font-weight: bold;
        }
    }
}